SECRET_KEY=uedi93ijeab*4d50$5uesn3p742z*5xh5na_5w9&5svjcaqv0u
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=secure_password
DB_HOST=db
DB_PORT=5432
